<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/profile.js"></script>
</head>
<body>
<img src="images/images.jpg" alt="">
<p><a href="logout/">Выйти</a></p>
<div class="content clearfix">
    <div class="userblock">
        <p>{{ name }}</p>
        <p>{{ lname }}</p>
        <p>{{ username }}</p>
    </div>
    <div class="maincontent">
        <form action="/post/" method="POST">
            <p>Title<input type="text" name="title"></p>
            <p>text <textarea name="text" id="" cols="30" rows="10"></textarea></p>
             <input type="file" name="file" id="file" multiple="true" />
            <p><input type="submit"></p>
        </form>
        <hr>
        <h2>POSTS</h2>
        {% each posts %}
            <div class="posts">
                {% each it %}
                    <span>{{ it }}</span>
                {% end %}
            </div>
        {% end %}
    </div>
</div>
</body>
</html>