<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="" method="POST">
    <p>
        Name:
        <input type="text" name = 'name'>
    </p>
    <p>
        last name:
    <input type="text" name = 'lname'>
        </p>
    <p>
        username:
        <input type="text" name = 'username'>
    </p>
    <p>
        password:
        <input type="password" name = 'password'>
    </p>
    <p>
        <input type="submit">
    </p>

</form>
</body>
</html>